/*가입축하*/
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
section{
	font-family: 'Cafe24SsurroundAir';
    background-color: rgb(245, 246, 248);
    height: 800px;
}
#asd {
    text-align: center;
    position: relative;
    margin-top: 5%;
}
#secCon {
    font-size: 20px;
}
#fstCon {
    font-size: 50px;
    font-weight: bold;
}
img {
    width: auto;
    height: 300px;
}
#img {
    text-align: center;
}
#loginBtn {
    margin-top: 70px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
    width: 140px;
    height: 45px;
    font-size: 18px;
    background-color: #95c2b7;
    color: rgb(245, 246, 248);
    border: solid 1px rgb(217, 218, 220);
    font-family: 'Cafe24SsurroundAir';
    font-weight: bold;
}
#tbh {
    font-size: 13px;
}
#copy{
    font-size: 10px;
}
#hg{
    font-size: 10px;
    font-weight: bold;
}
hr{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}