/* 아이디, 비밀번호 찾기 */
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cafe24SsurroundAir';
  }
section {
    background-color: rgb(245, 246, 248);
    height: 850px;
    font-family: 'Cafe24SsurroundAir';
}

form {
    text-align: center;
    position: relative;
    top: 35%;
    left: 50%;
    width: 400px;
    height: 500px;
    margin-left: -200px;
    margin-top: -150px;
    font-family: 'Cafe24SsurroundAir';
}

fieldset{
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: rgb(224, 224, 224);
    border: solid 1px rgb(217, 218, 220);
    border-radius: 3%;
}

#selectBtn{
    padding-top: 20px;
}
.selectBtn{
    width: 95px;
    height: 38px;
    border: solid 1px rgb(217, 218, 220);
    font-family: 'Cafe24SsurroundAir';
    font-weight: bold;
}
#nameBox{
    padding-top: 20px;
    font-family: 'Cafe24SsurroundAir';
}
#uName{
    width: 330px;
    height: 40px;
    border: solid 1px rgb(217, 218, 220);
    font-family: 'Cafe24SsurroundAir';
}
#uId{
    width: 330px;
    height: 40px;
    border: solid 1px rgb(217, 218, 220);
    font-family: 'Cafe24SsurroundAir';
}
#cellNumBox{
    padding-top: 20px;
}
#uEmail{
    width: 280px;
    height: 40px;
    border: solid 1px rgb(217, 218, 220);
    font-family: 'Cafe24SsurroundAir';
}
#nameBox > input{
    margin-top: 12px;
}
#cellNumBox > input{
    margin-top: 12px;
}
#authentication{
    width: 200px;
    height: 30px;
    border: solid 1px rgb(217, 218, 220);
    font-size: 11px
}
#findBtn{
    padding-top: 20px;
}
#find{
    width: 300px;
    height: 40px;
    background-color: #95c2b7;
    color: oldlace;
    border: solid 1px rgb(217, 218, 220);
}
label{
    font-weight: bold;
}
#all{
    text-align: left;
    position: relative;
    left: 35px;
}
#send{
	border: solid 1px rgb(217, 218, 220);
	width: 45px;
	height: 28px;
    position: relative;
    top: 1px;
    font-size: 6px;
    vertical-align: bottom;
}
#check{
    position: relative;
    top: 5px;
}