* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: black;
  }
  
  header {
    height: 100px;
    
  }

  .headerLogo h1 {
    cursor: pointer;
  }

  header .header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 1;
  }

  header .header .headerLogo {
    padding: 0 11em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  header .header .headerLogo .loginButton {
      border: none;
      cursor: pointer;
      font-size: 1.2em;
      background-color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  header .headerNav {
    width: 100%;
    padding: 0 11em;
    top: 2.5em;
  }
  
  header .headerNav .headerNavList {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  
  header .headerNav .headerNavList li {
    margin: 1em 2em;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 1em;
    text-decoration: none;
    cursor: pointer;
  }

  header .headerNav .headerNavList li a{
    text-decoration: none;
    color: black;
  }
  
  header .headerNav .headerNavList li:first-child {
    padding-left: 0;
    margin-left: 0;
  }
  
  header .headerNav .headerNavList li:hover {
    border-bottom: 1px solid #ffffff;
  }

  header .subReserve {
    background-color: white;
    padding: 0 11em;
  }
  