/* index */

.body .imageTool {
  background-color: #fafafa;
  width: 100%;
  height: 400px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-align: center;
}

.body .imageTool .imageRoom {
  width: 100%;
  padding: 0 15em;
  padding-top: 2em;
}

.imageRoom a {
  list-style: none;
  width: 100%;
  height: 320px;
  border-radius: 10px;
  cursor: pointer;
}
.imageRoom a:nth-child(1) {
  background: no-repeat
    url("https://plab-football.s3.amazonaws.com/media/home_covid19_210903_pc2.png");
  background-size: cover;
}
.imageRoom a:nth-child(2) {
  background: no-repeat
    url("https://plab-football.s3.amazonaws.com/media/%E1%84%87%E1%85%AE%E1%84%8E%E1%85%A5%E1%86%AB_%E1%84%80%E1%85%AE%E1%86%BA%E1%84%8B%E1%85%B0%E1%84%8B%E1%85%B5_%E1%84%91%E1%85%AE%E1%86%BA%E1%84%89%E1%85%A1%E1%86%AF%E1%84%8C%E1%85%A1%E1%86%BC_home_pc.jpg");
  background-size: cover;
}
.imageRoom a:nth-child(3) {
  background: no-repeat
    url("https://plab-football.s3.amazonaws.com/media/211015_home_covid19_pc.png");
  background-size: cover;
}
.imageRoom a:nth-child(4) {
  background: no-repeat
    url("https://plab-football.s3.amazonaws.com/media/211019_home_covid19_pc.png");
  background-size: cover;
}

.subTitle {
  padding: 0.5em 14rem;
}

li {
  list-style: none;
}

.slideBox {
  position: relative;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

#hotSlideShow,
#scSlideShow,
#thSlideShow,
#foSlideShow {
  position: relative;
  width: 70%;
  height: 300px;
  overflow: hidden;
  margin: 0 14rem;
}

.hotSlides,
.scSlides,
.thSlides,
.foSlides {
  position: absolute;
  top: 0;
  left: 0;
  width: 2500px;
  transition: left 0.5s ease-out;
}

.hotSlides li,
.scSlides li,
.thSlides li,
.foSlides li {
  float: left;
}

.hotSlides li:first-child,
.scSlides li:first-child,
.thSlides li:first-child,
.foSlides li:first-child {
  margin-left: 0px;
  margin-right: 50px;
}
.hotSlides li:not(:first-child),
.scSlides li:not(:first-child),
.thSlides li:not(:first-child),
.foSlides li:not(:first-child) {
  margin-right: 50px;
}

.hotSlides li img,
.scSlides li img,
.thSlides li img,
.foSlides li img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.hotcontroller span,
.scController span,
.thController span,
.foController span{
  position: absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 40%;
  font-size: 1.3em;
  cursor: pointer;
}

.hotcontroller span:hover,
.scController span:hover,
.thController span:hover,
.foController span:hover{
  background-color: rgba(128, 128, 128, 0.11);
}

.hotPrev,
.scPrev,
.thPrev,
.foPrev{
  left: 8%;
}

.hotNext,
.scNext,
.thNext,
.foNext {
  right: 8%;
}

.listBox {
  margin: 0 11em;
  padding-top: 1em;
  background-color: #fafafa;
}

.listContent li {
  display: flex;
  margin: 0.3em 0;
  flex-direction: row;
  justify-content: space-between;
}

.listContent li img {
  width: 150px;
  height: 150px;
}
