form {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    /* height: 800px; 안먹힘*/
    margin-left: -200px;
    margin-top: -150px;
}
#title{
}
.textBox{
    width: 330px;
    height: 38px;
    border: solid 1px red;
}
#selectGender{
    border: solid 1px red;
}
#dateBox{
    border: solid 1px red;
}
/* table{
    position: relative;
    margin-right: 0;
} */
#aa{
    display: flex;
    align-items: stretch;
    position: relative;
    left: 35px;
}
#gender{
    padding-right: 35px;
}
#selectGender{
    text-align: center;
    width: 130px;
    height: 30px;
}
#date{
    width: 120px;
    height: 30px;
    
}
#birth{
    padding-left: 35px;
}
