/* 회원가입 */
*{
	font-family: 'Cafe24SsurroundAir';
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
section{
	background-color: rgb(245, 246, 248);
	height: 1150px;
}
#title{
    margin-left: 130px;
    margin-bottom: 40px;
}
label{
    font-size: 15px;
    font-weight: bold;
}
form {
    position: relative;
    top: 8%;
    left: 50%;
    width: 500px;
    height: 1000px;
    margin-left: -200px;
    margin-top: auto;
}
.textBox{
    width: 350px;
    height: 40px;
    border: solid 1px rgb(217, 218, 220);
    font-size: 12px;
    margin-top: 6px;
   
}
select{
    border: solid 1px rgb(217, 218, 220);
    width: 147px;
    height: 30px;
    margin-right: 20px;
    margin-top: 6px;
}
#dateBox{
    border: solid 1px rgb(217, 218, 220);
    height: 30px;
    width: 183px;
    margin-top: 6px;
}
#genderDate{
    display: flex;
    align-items: stretch;
    position: relative;
}
#gender{
    padding-right: 35px;
}
#selectGender{
    text-align: center;
    width: 130px;
    height: 30px;
}
#date{
    width: 120px;
    height: 30px;
}
#birth{
    padding-left: 35px;
}
#joinId{
    width: 283px;
}
#joinNick{
    width: 283px;
}
.checkBtn{
    border: solid 1px rgb(217, 218, 220);
    height: 26px;
    width: 62px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}
.checkBtn:last-child{
    width: 200px;
    height: 33px;
    font-size: 15px;
    background-color: #95c2b7;
    color: rgb(245, 246, 248);
    margin-left: 78px;
}
.emailBtn{
	border: solid 1px rgb(217, 218, 220);
    height: 26px;
    width: 50px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
}
#joinEmail{
    width: 294px;
}
#autBox{
    margin-top: 6px;
    width: 294px;
}
#kakaoAddressDetail{
    margin-top: 6px;
}
