/* 로그인 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
section{
    background-color: rgb(245, 246, 248);
    height: 700px;
}
button{
	box-shadow: none;
}
label{
	font-size: 15px;
    font-weight: bold;
    text-align: left;
}
form {
    position: relative;
    top: 25%;
    left: 50%;
    width: 400px;
    height: 500px;
    margin-left: -200px;
    margin-top: auto;
}
div #loginBox {
    padding-top: 25px;
    padding-bottom: 20px;
    /* padding-left: 33px; */
    background-color: rgb(224, 224, 224);
    /* background-color: rgb(149, 194, 183); */
    border: none;
    border-radius: 3%;
}
#title {
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
}
div #textBox {
    padding-top: 30px;
    padding-left: 35px;
}
.loginField {
    width: 330px;
    height: 48px;
    border: solid 1px rgb(217, 218, 220);
    margin-top: 6px;
}
#loginBtn {
	font-size: 15px;
    width: 250px;
    height: 40px;
    border: solid 1px rgb(217, 218, 220);
    background-color: #95c2b7;
    color: rgb(245, 246, 248);
    position: relative;
    left: 41px;
}
div #url {
    padding-top: 10px;
}
.alink {
	text-decoration: none;
    padding-left: 31px;
    padding-right: 5px;
}
